@import "variables";
@import "mixins";

.footer {
  background-color: $bg-footer-color;
  color: $secondary-color;
  padding: 1.25rem;
  height: 8.5rem;
  @include flex-center(space-between, center);
  position: relative;

  &__btn {
    background-color: transparent;
    border: 1px solid $footer-extra;
    border-radius: 0.25rem;
    @include flex-center(center, center);
    gap: 0.875rem;
    width: 17rem;
    color: $secondary-color;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
  }
}

.css {
  &__container {
    width: 6rem;
    height: 6rem;
    border: 1px solid $footer-extra;
    padding: 0.5rem 0.75rem;
  }

  &__text {
    text-transform: uppercase;
    color: $footer-extra;
    font-size: 1.25rem;
    font-weight: 400;
    display: block;
  }
}

.company {
  &__container {
    display: none;
  }

  @media screen and (min-width: 60rem) {
    &__container {
      @include flex-center(center, center);
      gap: 0.75rem;
      color: $footer-extra;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__divider {
      width: 3.5rem;
      height: 1px;
      background-color: $footer-extra;
    }

    &__text {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}
